<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-aifetcher.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f6e5083a-304c-4f07-a853-0760292dae1a/resourceGroups/rg-DevOpsAIPrototyping/providers/Microsoft.Web/sites/fa-aifetcher</ResourceId>
    <UserName>$fa-aifetcher</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fa-aifetcher.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>